/* Login.css */

.login-button {
  color: #bc0000;
  text-decoration: none;
  border: 1px solid rgb(255, 0, 0);
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: left;
  justify-content: left;
  z-index: 999;
}

.login-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.login-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
  float: right;
  cursor: pointer;
}

label,
input {
  display: block;
  margin-bottom: 20px;
}