.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    background-color: #ffffff;
    color: #1f1f1f;
    font-size: 12px;
    z-index: 998;
  }
  
  .nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-bar a {
    display: block;
    padding: 5px 40px;
    color: #545454;
    text-decoration: none;
  }
  
  .nav-bar a:hover {
    background-color: #d1d0d0;
    color: rgb(0, 0, 0);
  }
  