/* // Body.css */
.body {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 120px 100px;
    background-color: #e8e8e8;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  
  .search-form {
    display: flex;
    margin-right: 20px;
  }
  
  .search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    font-size: 16px;
  }
  
  .search-form button[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  