/* // Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header img {
  width: 150px;
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #d1d0d0;
    color: rgb(101, 1, 1);
}

.search-form {
  display: flex;
  margin-right: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 16px;
}

.search-form button[type="submit"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  font-size: 16px;
  cursor: pointer;
}

.login-link {
  color: #bc0000;
  text-decoration: none;
  margin-right: 20px;
}
