.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 5px 200px;
    background-color: #d3d3d3;
    color: #868686;
    font-size: 16px;
    z-index: 998;
  }
  
  .nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-bar a {
    display: block;
    padding: 5px 40px;
    color: #6c6c6c;
    text-decoration: none;
  }
  
  .nav-bar a:hover {
    background-color: #d1d0d0;
    color: rgb(0, 0, 0);
  }
  